{
  "parserOptions": {
    "ecmaVersion": 9,
    "sourceType": "module"
  },
  "rules": {
    "camelcase": "off",
    "semi": "off",
    "max-len": "off",
    "object-curly-spacing": "off",
    "comma-dangle": "off",
    "space-before-function-paren": "off",
    "quotes": "off",
    "one-var": "off"
  }
}
